.ezs-calendar {
    height: calc(100vh - 40px);
    .fc-theme-standard {
        height: 100%;
    }
    &__sidebar {
        width: 295px;
    }
    &__content {
        width: calc(100% - 295px);
        padding-left: 20px;
    }
}